.estilo {
  background-color: #5e89df;
  min-height: 100vh;
  display: flex;
}

.icono_retroceso {
  width: 80px;
  height: 80px;
  margin: 50px;
}

.input_text {
  width: 50%;
  height: 60px;
  margin: 80px;
  border: 0px;
  border-radius: 30px;
  padding: 0px;

  font-size: 20px;

  position: fixed;
  top: 10%;
  left: 10%;
}

.boton {
  width: 10%;
  height: 60px;
  margin: 80px;
  border: 0px;
  border-radius: 30px;
  padding: 10px;

  font-size: 20px;

  position: absolute;
  top: 10%;
  left: 65%;

  background-color: #1c2c4d;
  color: white;
}

.lista {
  list-style: none; /* quita los puntos de la lista */
  padding: 0; /* quita los márgenes de la lista */
  overflow: hidden;
  overflow-y: scroll;

  width: 65%;
  height: 55%;

  position: absolute;
  top: 30%;
  left: 14.4%;
}

.resultado_busqueda {
  background-color: #263d6b;
  border-radius: 15px;

  width: 1160px;
  height: 100px;

  margin: 20px;
  
  right: 20px;

  /* Cosas sobre el texto */
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 20px;

  position:relative;

  text-decoration: none;
}

.icono_jugadores {
  width: 60px;
  height: 60px;
  margin: 70px;
}

.icono_ladron {
  width: 60px;
  height: 60px;
  margin: 70px;
}

.icono_puntos_victoria {
  width: 60px;
  height: 60px;
  margin: 70px;
}

.icono_tiempo_turno {
  width: 60px;
  height: 60px;
  margin: 70px;
}

.num_jugadores {
  position: absolute;
  top: -25%;
  left: 37%;

  color: white;
  padding: 10px;
}

.ladron {
  position: absolute;
  top: -25%;
  left: 54%;

  color: white;
  padding: 10px;
}

.puntos_victoria {
  position: absolute;
  top: -25%;
  left: 70%;

  color: white;
  padding: 10px;
}

.tiempo_turno {
  position: absolute;
  top: -25%;
  left: 88%;

  color: white;
  padding: 10px;
}