/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

/* Contenedor principal */
.Inicio_sesion {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-weight: 600;
  background-image: url(imagenes/fondo1.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Estilos para los inputs de texto y password */
input[type="text"],
input[type="password"] {
  height: 40px;
  width: 90%;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  font-size: 15px;
  padding-left: 10px;
  background: #ffffff00;
}

/* Estilos para el botón de submit */
input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #2D4052;
  border: 1px solid #2D4052;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
}

input[type="submit"]:hover {
  background: #2d2e52;
  border: 1px solid 	#2d2e52;
}

/* Contenedor de los botones */
.button-container {
  display: flex;
  justify-content: center;
}

/* Estilos cuando los inputs están enfocados */
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

/* Cuadrado para el formulario */
.login-form {
  background-color: #ffffffc7;
  border: 1px solid #ffffffc7; 
  border-radius: 1rem;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  width: 90%;
  max-width: 500px;
}

/* Contenedor de las listas */
.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para los mensajes de error */
.error {
  color: red;
  font-size: 20px;
}

/* Estilos para los títulos */
.title {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  color: #2d2e52;
}

/* Contenedor de los inputs */
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  width: 100%;
  max-width: 600px;
}


.Titulos {
  font-size: 20px;
}

div Link {
  color: #2d2e52;
  font-size: 13px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

/* título catanic bonito */
span {
  box-sizing: border-box;
  font-family: sans-serif;
  margin-top: 30%;
}

.a::first-letter {
  color: rgb(5, 4, 4);
  font-size: 150%;
  float: inline-start;
}

h2 {
  font-size: 2.5em;
  color: #000;
  text-transform: uppercase;
  display: flex;
  text-shadow: 3px 3px 3px rgba(155, 150, 148, 0.811);
}

h2 span {
  animation: appear 1.5s ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

h2 span:nth-of-type(1) {
  animation-delay: 0.1s;
}

h2 span:nth-of-type(2) {
  animation-delay: 0.3s;
}

h2 span:nth-of-type(3) {
  animation-delay: 0.5s;
}

h2 span:nth-of-type(4) {
  animation-delay: 0.7s;
}

h2 span:nth-of-type(5) {
  animation-delay: 0.9s;
}

h2 span:nth-of-type(6) {
  animation-delay: 1.1s;
}

h2 span:nth-of-type(7) {
  animation-delay: 1.3s;
}

@keyframes appear {
  from {
    opacity: 0;
    filter: blur(20px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}
